<select id="state" name="state" [(ngModel)]="selectedState" (change)="onStateChange()">
  <option value="" disabled selected>Select State</option>
  <option *ngFor="let state of states" [value]="state.value">{{ state.label }}</option>
</select>

<div class="flex flex-col justify-center p-5 border border-black rounded-md min-h-[150px]">
  <h2 class="text-2xl font-bold">{{ dailyCases }}</h2>
  <p>Daily covid cases in {{ selectedState }}</p>
</div>

<div class="flex flex-col justify-center p-5 border border-black rounded-md min-h-[150px]">
  <h2 class="text-2xl font-bold">{{ positiveCases }}</h2>
  <p>Positive Cases</p>
</div>

